<header class="{{ if .IsHome }} absolute text-white {{else}} bg-white/75 fixed top-0 backdrop-blur-sm text-purple shadow-header border-b border-gray-300 {{ end }} left-0 z-50 w-full top-0">
    <div class="h-16 p-4 mx-auto flex flex-row items-center justify-end max-w-8xl">
        <a href="/" class="block h-6 mr-auto" aria-label="Home">
            {{ partial "logo.html" . }}
        </a>
        <div class="hidden lg:flex flex-row items-center gap-4">
            {{ partial "menu.html" . }}
        </div>
        <div>
        <input class="invisible absolute pointer-events-none peer" type="checkbox" name="hamburger-toggle" id="hamburger-toggle" aria-label="Toggle Navigation"/>
        <label for="hamburger-toggle" class="fixed bg-gray-900/60 transition-all duration-500 h-screen w-screen top-0 left-0 opacity-0 pointer-events-none peer-checked:opacity-100 peer-checked:pointer-events-auto"></label>
        <div class="fixed transition-all duration-500 left-full h-screen top-0 w-2/3 max-w-md bg-white text-purple peer-checked:-translate-x-full peer-checked:shadow-xl flex flex-col lg:hidden">
             {{ partial "menu.html" . }}
        </div>
        <label for="hamburger-toggle" class="group w-7 h-5 flex relative items-center justify-center z-50 cursor-pointer lg:hidden peer-checked:text-purple">
            <div class="z-20 h-0.75 bg-current transition-all after:absolute after:w-full after:left-1/2 after:h-0.75 after:bg-current after:-translate-x-1/2 after:transition-all before:absolute before:w-full before:h-0.75 before:bg-current before:left-1/2 before:-translate-x-1/2 before:transition-all w-8 before:top-0 after:bottom-0 peer-checked:group-[]:w-0 peer-checked:group-[]:before:top-1/2 peer-checked:group-[]:after:top-1/2 peer-checked:group-[]:before:-rotate-45 peer-checked:group-[]:before:-translate-y-1/2 peer-checked:group-[]:after:rotate-45 peer-checked:group-[]:after:-translate-y-1/2 " />
          </label>
        </div>
    </div>
    <!-- sidebar menu end-->
</header>